*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
}

.head{
    text-align: center;
    margin-bottom: 25px;
}

.parent{
    border: 1px solid black;
    padding: 15px;
    width: 30%;
    height: 200%;
    margin-left: 35%;
    align-content: centers;
}

.text{
    border: 1px solid black;
    padding: 15px;
}

.animalFeatures{
    list-style-type: none;
}

.image{
   display: inline;
   width: 400px;
   height: 225px;
   margin-bottom: 15px;
}

.para1{
    font-style: italic;
    margin-bottom: 15px;
}

.list{
    margin-bottom: 15px;
}

