*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
}

.parent{
    border: 1px solid black;
    align-items: center;
    align-self: center;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.text{
    border: 1px solid black;
    padding: 15px;
    
}

.image{
    width: 1px; 
}

